{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {% for picture in pictures %}
        <div class="card mb-3" style="width: 35rem; margin: auto;">
            <h3 class="card-header">{{ picture.name }}</h3>
            <img style="height: 100%; width: 100%; display: block;" src={{ picture.link }}>
            <div class="card-body">
                <p class="card-text">Aussi rafraichissante, qu'agréable !</p>
            </div>
            <div class="card-footer text-muted">
                Proposée par {{ picture.proposedBy }} le {{ picture.date | date('d/m/Y') }}
            </div>
        </div>
    {% endfor %}
    <div class="pagination justify-content-center" style="margin-top: 5rem;">
        {{ knp_pagination_render(pictures) }}
    </div>
{% endblock body %}